body {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

h1, h5 {
    font-family: 'Oleo Script', cursive;
}

.logo {
    position: absolute;
    right: 350px;
    top: 135px;
    z-index: 3;
    width: 80px;
    height: auto;
}

.title {
    position: relative;
    float: right;
    z-index: 2;
    color: white;
    font-size: 180px;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.name {
    margin-right: 10px;
    margin-left: auto;
}

.container-style {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.carousel-block {
    margin: 50px 0;
    width: 100%;
    padding: 0;
    align-content: center;
}

.headline {
    vertical-align: middle;
    padding: 8rem 0rem;
    width: 100%;
    border-radius: 7px;
}

.styled-text {
    text-align: center;
    vertical-align: middle;
}

/* login form */

#form-section {
    background-color: #EDE9E8;
    align-content: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#form-style {
    border-left: 5px solid #030D26;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    align-content: center;
    font-size: 20px;
}

#form-section {
    background-color: ;
    padding-right: 40px;
    padding-left: 40px;
}

.center-style {
    align-items: center;
    align-content: center;
    vertical-align: middle;
}

.post-style {
    margin-left: 50px;
    margin-right: 50px
}

#form-side {
    text-align: center;
    padding: 100px 80px;
}

/* colors */

.blue-bg {
    background-color: #030D26;
}

.lt-bg {
    background-color: white;
}

.bg-yellow {
    background-color: #EDE9E8;
}

.text-yellow, hr {
    color: #030D26;
}

.text-dark, card-text {
    color: #000000;
}

.text-lt a {
    color: white;
}

.text-blue {
    color: #030D26;
}

.pri-btn {
    color: white;
    background-color: #030D26;
    border-radius: 7px;
}

.pri-btn:hover {
    background-color: white;
    color: #030D26
}

.sec-btn:hover {
    background-color: #030D26;
    color: white;
}

.sec-btn {
    color: #030D26;
    border: 1px solid #030D26;
    border-radius: 7px;
}

/* Navbar & Sidebar */

#navbar-welcome {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

#navbar-user-home {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #EDE9E8;
}

.sidebar .nav-link.active {
    color: #030D26;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
    color: inherit;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.sidebar {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.navIcon {
    vertical-align: bottom;
}

.nav-hr {
    width: 40%;
    border-top: 1px solid #EDE9E8;
}


/* search results */

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        column-width: 50%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.icon {
    font-size: 30px;
    cursor: pointer;
    color: #030D26;
}

.icon-category {
    margin-top: 100px;
    margin-bottom: 10px;
}

.svg-inline--fa .fa:hover {
    color: #F0B323;
    font-size: 50px;
}

.inline {
    display: inline;
}

/* images overlays */

.overlay {
    background: #030d26d2;
    position: absolute;
    top: 30px;
    /* bottom: 190px; */
    left: 0;
    right: 0;
    height: 200px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    color: white;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
}

.container-overlay:hover .overlay {
    opacity: 1;
}

.card-text {
    margin: 0;
    padding: 0;
}