.main {
    background-color: #E9E9EC;
    /* background-image: -webkit-linear-gradient(70deg, #47D1FF 50%, #E9E9EC 50%);
    min-height: 1100px; */
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.container-style {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.blue-bg {
    background-color: #47D1FF;
}

.lt-bg {
    background-color: #E9E9EC;
}

.text-dark h1 {
    color: #3A3238;
}

.text-lt a {
    color: #F7F7F2;
}

.text-blue {
    color: #47D1FF;
}

.off-white {
    color: #F7F7F2;
}

.pri-btn {
    color: #F7F7F2;
    background-color: #47D1FF;
}

.sec-btn {
    color: #47D1FF;
    background-color: #F7F7F2
}

.bg {
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#remember {
    width: 10%;
    height: 80%;
    text-align: left;
    vertical-align: middle;
}

/* Navbar & Sidebar */

#profile-picture {
    max-width: 100px;
    height: auto;
}

#profile-images {
    max-width: 300;
    height: auto
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 0;
    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
    color: inherit;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

/* search results */

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.icon {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
    color: #007bff;
}