body {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}

h1, h5 {
    font-family: 'Oleo Script', cursive;
}

.fa-input {
    font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif;
}

.logo {
    position: absolute;
    right: 350px;
    top: 135px;
    z-index: 3;
    width: 80px;
    height: auto;
}

#logo-sidebar {
    position: absolute;
    width: 70px;
    bottom: 160px;
    left: 10px
}

.title {
    position: relative;
    float: right;
    z-index: 2;
    color: white;
    font-size: 180px;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.name {
    margin-right: 10px;
    margin-left: auto;
}

.container-style {
    padding-bottom: 6rem;
    padding-top: 65px;
}

.carousel-block {
    margin: 50px 0;
    width: 100%;
    padding: 0;
    align-content: center;
}

.headline {
    vertical-align: middle;
    padding: 8rem 0rem;
    width: 100%;
    border-radius: 7px;
}

.styled-text {
    text-align: center;
    vertical-align: middle;
}

.inline {
    display: inline;
}

/* login form */

#form-section {
    background-color: #EDE9E8;
    align-content: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#form-style {
    border-left: 5px solid #030D26;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    align-content: center;
    font-size: 20px;
}

#form-section {
    background-color: #EDE9E8;
}

.center-style {
    align-items: center;
    align-content: center;
    vertical-align: middle;
}

.post-style {
    margin-left: 50px;
    margin-right: 50px
}

#form-side {
    text-align: center;
    padding: 80px 60px;
}

/* form inputs */

.active-blue-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #030D26;
    box-shadow: 0 1px 0 0 #030D26;
}

.active-blue input.form-control[type=text] {
    border-bottom: 1px solid #030D26;
    box-shadow: 0 1px 0 0 #030D26;
}

/* like button */

#like-btn:before {
    display: inline;
    text-align: right;
    border: none;
    border-radius: 100%;
    color: hsl(57deg 100% 55%);
}

#like-btn:after {
    display: inline;
    text-align: right;
    border: none;
    border-radius: 100%;
    color: #030D26;
}

/* unlinke button */

#unlike-btn {
    color: #030D26;
}

/* colors */

.blue-bg {
    background-color: #030D26;
}

.lt-bg {
    background-color: white;
}

.bg-silver {
    background-color: #EDE9E8;
}

.text-yellow, hr {
    color: #030D26;
}

.text-dark, card-text {
    color: #000000;
}

.text-lt a {
    color: white;
}

.text-blue {
    color: #030D26;
}

.pri-btn {
    color: white;
    background-color: #030D26;
    border-radius: 7px;
}

.pri-btn:hover {
    background-color: white;
    color: #030D26
}

.sec-btn:hover {
    background-color: #030D26;
    color: white;
}

.sec-btn {
    color: #030D26;
    border: 1px solid #030D26;
    border-radius: 7px;
}

/* Navbar & Sidebar */

#navbar-welcome {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

#navbar-user-home {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #EDE9E8;
}

.sidebar .nav-link.active {
    color: #030D26;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
    color: inherit;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.sidebar {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.profile-head {
    font-family: 'Oleo Script', cursive;
    text-align: center;
}

.nav-hr {
    width: 60%;
    border-top: 2px solid #d8d5d5bd;
}

.form-hr {
    width: 25%;
    border-top: 2px solid #d8d5d5bd;
    border-radius: 90px;
}

.active-blue input.form-control[type=text] {
    border-bottom: 1px solid #030D26;
    ;
    box-shadow: 0 1px 0 0 #030D26;
    ;
}


.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.icon {
    margin-top: 20px;
    font-size: 25px;
    cursor: pointer;
    color: #030D26;
}

/* images overlays */

.overlay {
    background: #030d26d2;
    position: absolute;
    top: 30px;
    left: 0%;
    right: 0;
    max-height: min-content;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    color: white;
    padding-top: 0px;
    text-align: center;
    font-size: 16px;
}

.container-overlay:hover .overlay {
    opacity: 1;
}

.card-text {
    margin: 0;
    padding: 0;
}