.main {
    background-color: #E9E9EC;
    /* background-image: -webkit-linear-gradient(70deg, #47D1FF 50%, #E9E9EC 50%);
    min-height: 1100px; */
}

/* .nav-style {
    background-color: #E9E9EC;
    background-image: -webkit-linear-gradient(-50deg, #47D1FF 50%, #E9E9EC 50%);
    min-height: 80px;
} */

.container-style {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.blue-bg {
    background-color: #47D1FF;
}

.lt-bg {
    background-color: #E9E9EC;
}

.text-dark h1 {
    color: #3A3238;
}

.text-lt a {
    color: #F7F7F2;
}

.text-blue {
    color: #47D1FF;
}

.off-white {
    color: #F7F7F2;
}

.pri-btn {
    color: #F7F7F2;
    background-color: #47D1FF;
}

.sec-btn {
    color: #47D1FF;
    background-color: #F7F7F2
}

.bg {
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#remember {
    width: 10%;
    height: 80%;
    text-align: left;
    vertical-align: middle;
}
