<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Carter+One&family=Monoton&family=Oleo+Script&family=Quicksand&family=Rouge+Script&family=Snippet&family=Yellowtail&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles.css">

    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>

    {% if g.user %}

    <nav class="navbar navbar-dark sticky-top blue-bg flex-md-nowrap pt-4 ml-5 mr-5 mt-5 shadow" id="navbar-user-home">
        <span class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">Smitty</span>
        <button class="navbar-toggler position-initial d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-lt"></span>
        </button>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt h4" id="icon-hover" title="Logout"></i></a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse ml-5 mt-5 pt-5 mb-5">
                <div class="sidebar-sticky align-items-start mb-5 pt-5 mt-5 ">
                    <ul class="nav flex-column pl-2 pr-2 mb-5">

                        <li class="nav-item pl-2">
                            <a href="/user/{{user.id}}/profile" style="text-decoration: none;" class="text-blue">
                                <h3 class="profile-head" id="profile-hover">Profile</h3>
                            </a>
                        </li>
                        <hr class="nav-hr">

                        <li class="nav-item pl-2 pb-2 h4">
                            <a class="nav-link inline h4 pl-0 pb-2" id="user" value="{{user.id}}"
                                href="/user/{{user.id}}/profile"><i class="far fa-user inline h4 mb-0 mr-3" id="profile-hover"></i>{{user.username}}</a>
                        </li>
                        <li class="nav-item pl-2 h4">
                            <a class="nav-link inline h4 pl-0" id="likes" value="{{user.id}}"
                                href="/user/{{user.id}}/likes"><i class="fas fa-thumbs-up inline h4 mb-0 mr-3" id="profile-hover"></i>Likes</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline md-form active-blue active-blue-2 mb-3 mt-0" action="/user/{{user.id}}/search" method="POST">   
                                <button type="submit" class="btn m-0 pl-2 pr-2 pt-3" style="display: inline;">
                                    <i class="fas fa-search h4" id="icon-hover"></i>
                                </button>
                                <input class="form-control ml-0 w-75 form-control-sm shadow" style="display: inline;" type="text" name="keyword" placeholder="Search" aria-label="Search">
                            </form> 
                        </li>
                    </ul>
                    <div id="">
                        <img src="/static/images/user.png" alt="logo" class="mx-auto d-block" id="logo-sidebar">
                    </div>
                </div>
            </nav>

            <!-- closing tags for search.htnl
    </div>
    </div>   -->


            {% else %}

            <nav class="navbar navbar-expand-lg navbar-dark blue-bg ml-5 mr-5 mt-5" id="navbar-welcome">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav text-lt">
                        <li class="nav-item">
                            <a class="nav-link text-lt text-white" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-lt text-white" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="jumbotron jumbotron-fluid blue-bg pt-4 ml-5 mr-5 mb-0" style="min-height: 280px;">
                <div class="container mr-5">
                    <img src="/static/images/1.png" alt="" class="logo float-right mr-4">
                    <h1 class="display-1 title text-right">{% block name %}Smitty{% endblock %}</h1>
                </div>
            </div>

            {% endif%}

            {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ category }} text-center ml-5 mr-5 mb-0">{{ message }}</div>
            {% endfor %}

            {% block content %}
            {% endblock %}


            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
            <script src="https://unpkg.com/axios/dist/axios.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
                integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
                crossorigin="anonymous"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
                integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
                crossorigin="anonymous"></script>
            <script src="/static/script.js"></script>

</body>

</html>