<!-- {% import "bootstrap/wtf.html" as wtf %} -->

{% block form %}

<div class='container container-style' id="{{status}}" style="width: 50%">

    <form method="POST" action='/{{ status }}' class="text-dark" enctype="multipart/form-data">
        <div class="">
            {{ form.hidden_tag() }}
            {% for field in form.errors %}
            <div class="alert alert-danger">{{ field }}:
                <ul>
                    {% for error in form.errors[field] %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="col">
                {{ field.label }}
                {{ field(class_="form-control") }}
            </div>
            {% endfor %}

        </div>
        <div class="mt-3">
            <a class="btn btn-outline-secondary text-dark" href="/login">Cancel</a>
            <button class="btn submit-btn pri-btn" type="submit">{{status}}</button>
        </div>

        <!-- TODO: add logic for login/register link -->
        <!-- <div>
                <a class="btn lt-bg text-blue pl-0 text-blue" href="{{ url_for('register') }}">Create an Account</a>
            </div> -->
    </form>
</div>

{% endblock %}