{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block head %}
  <div class="jumbotron jumbotron-fluid blue-bg pb-5 pt-4">
    <div class="container w-100 mr-5">
      <img src="/static/images/2.png" alt="" class="float-right mr-4" style="width: 100px;">
      <h1 class="display-3 text-right pr-5 text-white">{% block name %}mrSMITH{% endblock %}</h1>
      <!-- <div class="align-content-right">
      <img src="/static/1.png" alt="" class="">
      </div> -->
      <hr>
      <h4 class="text-right pr-5 text-white">Access to over 175 years of history, art, science and culture.</h4>
    </div>
  </div>
{% endblock %}

{% block navbar %}

{% endblock %}

{% block carousel %}{% endblock %}

  <span id="login"></span> 
{% block login%}{% endblock %} 

{% block content %}

{% endblock %}

</div>