{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block head %}
  <div class="jumbotron jumbotron-fluid blue-bg mb-0">
    <div class="container">
      <h1 class="display-3 text-right pr-5 text-white">{% block name %}Mr. Smith{% endblock %}</h1>
      <hr>
      <h6 class="text-right pr-5 text-white">Virtually explore the Smithsonian’s nineteen museums, research centers, libraries, archives and the National Zoo.</h6>
    </div>
  </div>
{% endblock %}

{% block navbar %}

{% endblock %}

{% block carousel %}{% endblock %}

  <span id="login"></span> 
{% block login%}{% endblock %} 

{% block content %}

{% endblock %}

</div>