{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block head %}
<div class="jumbotron jumbotron-fluid blue-bg mb-0">
    <div class="container">
        <h1 class="display-4 text-lt text-right pr-5">{% block name %}Smithsonian App{% endblock %}</h1>
        <p class="lead"></p>
    </div>
</div>
{% endblock %}

{% block navbar %}{% endblock %}


{% block content %}

    {% block carousel%}{% endblock %}

    {% block login%}{% endblock %}

    <div class="container container-style text-center text-blue">
        <a class="btn pri-btn" href="{{ url_for('register') }}">Register</a>
    </div>

{% endblock %}