{% extends 'homepage.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{% block name %}Login{% endblock %}

{% block content %}

    <div class='container container-style' style="width: 50%;">

        <form method="POST" action='/login'>
            <div class="">
                {{ form.hidden_tag() }}
                
                {{ wtf.form_errors(form, hiddens="only") }}

                {% if wtf.form_field.input_type != 'hidden' %}   

                    {{ wtf.form_field(form.username) }}
                    {{ wtf.form_field(form.password) }}
                    {{ wtf.form_field(form.remember) }}
                
                {% endif %}

            </div>
            <div class="mt-3">
                <a class="btn btn-outline-secondary" href="{{ url_for('homepage') }}">Cancel</a>
                <button class="btn submit-btn btn-info" type="submit">Login</button>
            </div>
        </form>

    </div>

{% endblock %}