
{% import "bootstrap/wtf.html" as wtf %}

{% block login %}

    <div class='container container-style' id="login" style="width: 50%;">

        <form method="POST" action='/login' class="text-dark">
            <div class="">
                {{ form.hidden_tag() }}
                
                {{ wtf.form_errors(form, hiddens="only") }}

                    {% if wtf.form_field.input_type != 'hidden' %}   

                    {{ wtf.form_field(form.username) }}
                    {{ wtf.form_field(form.password) }}
                    {{ wtf.form_field(form.remember) }}
                
                {% endif %}
                </div>
                <div class="mt-3">
                    <a class="btn btn-outline-secondary text-dark" href="{{ url_for('homepage') }}">Cancel</a>
                    <button class="btn pri-btn" type="submit">Login</button>
                </div>
                <br>
                <div>
                    <a class="btn lt-bg text-blue pl-0 text-blue" href="{{ url_for('register') }}">Create an Account</a>
                </div>
            </form>
     </div>

{% endblock %}