{% extends 'user_base.html' %}

{% block title %}Profile{% endblock %}


{% block content %}

<nav class="navbar navbar-dark sticky-top blue-bg flex-md-nowrap p-0 shadow">
    <span class="navbar-brand col-md-3 col-lg-2 mr-0 px-3">Mr. Smith</span>
    <button class="navbar-toggler position-initial d-md-none collapsed" type="button" data-toggle="collapse"
        data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-lt"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/user/logout">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">

    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-5 mt-5 align-items-start">
                <ul class="nav flex-column">
                    <li>
                        <div class="profile-images">
                            <img src="{{user.backdrop_image}}" id="backdrop" alt="profile background"
                                style="max-width: 100%; height:auto">
                            <img src="{{user.profile_image}}" id="profile-picture" alt="profile image">
                        </div>
                    </li>
                    <li class="nav-item">
                        <h5>{{user.username}}</h5>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/following">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            Following
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            Likes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-bar-chart-2">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                            </svg>
                            Logout
                        </a>
                    </li>
                </ul>
                <!-- TODO: add share/social media options -->
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-6 col-sm-4">
                        <div class="card card-cascade wider" style="max-width: 18rem;">
                            <img src="https://ids.si.edu/ids/deliveryService?max_w=800&id=NZP-20130417-044CPM" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
