{% extends 'user_base.html' %}

{% block title %}Profile{% endblock %}


{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        <h1 id="boards">My Boards</h1>

        <div class="container">
            <div class="row mt-5">
                {% for list in formatted_images %}
                <!-- list = [image1, image2, imageN] -->
                    {% for card in list %}
                    <!-- card = imageN -->
                        <div class="mb-3 pics animation {{i}} card-body" style="max-width: 300px; height:auto;">
                            <img class="img-fluid" src={{card.url}} class="card-img-top" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Title: {{ card.title }}</h5>
                                <p class="card-text">Artist: {{ card.artist }}</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </main>

<!-- these divs are close user_base -->
</div>
</div>


    <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        {% block search %}{% endblock %}

        <div class="container">
            <div class="row mt-5">
                {% for list in images %}
                {% for card in list %}
                <div class="mb-3 pics animation {{i}} card-body" style="max-width: 300px; height:auto;">
                    <img class="img-fluid" src={{card.url}} class="card-img-top" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.artist }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>

    </main> -->



{% endblock %}