{% extends 'base.html' %}

{% block content %}

  <main role="main" class="justify-content-end col-md-8 col-lg-10 ml-sm-0 mr-sm-0 px-md-4" id="{{user.username}}">

    <div class="container gallery-format" id="gallery">
        <div class="row w-100">
            {% for like in formatted_images %}
            <div class="col-md-3 card-body container-overlay all" style="max-width: 300px; height:auto;">
                <img class="img-fluid shadow" src={{ like.url }} class="card-img-top" id="img" alt="Card image cap">
                <div class="overlay">
                    Artist: {{like.artist}} <br> Date: {{like.date}} <br> Collection: {{like.collection}}
                </div>
                <div class="card-body pt-1">
                    <p class="card-title text-left inline" value="{{ like.title }}" style="display: inline;">Title:
                        <a class="inline" href="/user/{{ like.id }}/unlike" id="unline-btn"><i
                                class="fas fa-thumbs-up inline" style="color: #030D26"></i></a>
                    <p class="text-left font-weight-bold ">{{like.title}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}