{% extends 'homepage.html' %}

{% block title %}My Favorites{% endblock %}

{% block name %}My Favorites{% endblock %}

{% block content %}

    <div class="container container-style w-75">
        <div class="row">
            <div class="col-6 col-sm-4">
                <div class="card card-cascade wider" style="width: 18rem;">
                    <img src="https://ids.si.edu/ids/deliveryService?max_w=800&id=NZP-20130417-044CPM" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}