{% extends 'homepage.html' %}

{% block title %}Logout{% endblock %}

{% block name %}Logout{% endblock %}

{% block content %}

    <div class="container container-style" style="width: 50%;">

        <form action="/logout" method="POST">
            <h4 class="">Are you sure you want to logout?</h4>
            <a class="btn btn-outline-secondary" href="{{ url_for('homepage') }}">Cancel</a>
            <button class="btn submit-btn btn-info" type="submit">Yes</button>
        </form>

    </div>

{% endblock %}

# smithsonian API
api_key = "AhgfyfDDNIzoNxf70E1sQrjhjn2wYbr216soHE0w"

# flask session secret key
secret_key = b'\xa3\x15A\xd57\x8a\xc1@7\xb35z\x8fC\x0c\xc2'
