{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block head %}
<div class="jumbotron jumbotron-fluid blue-bg mb-0">
    <div class="container">
        <h1 class="display-4 text-lt text-right pr-5">{% block name %}Smithsonian App{% endblock %}</h1>
        <p class="lead"></p>
    </div>
</div>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="sidebar">
                {% block sidebar %}{% endblock %}
            </div>
            <div class="row">
                {% block board %}{% endblock %}
            </div>
        </div>

    </div>

{% endblock %}