{% extends 'user_base.html' %}

{% block title %}Profile{% endblock %}


{% block content %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" id="{{user.username}}">

        <h1>Search the Smithsonian's OpenAccess Content</h1>

            <form action="/user/{{user.username}}/search" method="POST">
                <label for="search" class="pl-1 mt-2">Search the Smithsonian</label>
                <input class="form-control form-control-dark w-100 mb-3" id="search" name= "keyword" type="text" placeholder="Keyword" aria-label="Search">
                <button class="btn submit-btn pri-btn m-0" id="search-req" type="submit">Search</button>
            </form>
    </main>
    
<!-- these divs close user_base -->
</div>
</div>


{% endblock %}