{% extends 'user_base.html' %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <h1>Search Results</h1>

    <div class="gallery" id="gallery">

        {% for list in formatted_images %}
            {% for card in list %} 
            <div class="mb-3 pics animation {{list.index}} card-body" style="max-width: 300px; height:auto;">
                <img class="img-fluid" src={{card.url}} class="card-img-top" alt="Card image cap">
                <div class="card-body pt-1">
                    <p class="text-right mt-0 mb-0">
                        <i onclick="likeImages(this)" class="far fa-thumbs-up like"></i>
                        <i class="fas fa-plus"></i>
                    </p>
                    <h5 class="card-title mt-0 pb-0">Title: {{ card.title }}</h5>
                    <p class="card-text mt-0">Artist: {{ card.artist }}</p>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mb-5">
            <button type="button" class="btn btn-outline-black waves-effect filter align-center" data-rel="1"><i class="fas fa-angle-double-left"></i></button>
            <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2"><i class="fas fa-angle-double-right"></i></button>
        </div>
    </div>

</main>

{% endblock %}